<!DOCTYPE html>
<!--préparé par Étudiant : Chrisphonte E Vladimir
ID: 2015-23-208
Collège Montmorency -->
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About - Vladimir</title>
<link rel="stylesheet" href="../sheet/sheet.css">

<h1> Rapport Final de Stage</h1>
<h4 id="headline"> Presentation Étudiant </h4>
<h4>Lieu: Intelligence Industrielle</h4>
<a href="../">Home</a></li>
<hr>
</head>

<!-- ============== HTML BODY Start ================= -->
<body >

 <div id="about">

     <table >
       <caption>Personnalité</caption>

    <thead>
      <tr>
       <th>Forces</th>
       <td >Assidu – Calme – Efficace</td>
       <td rowspan="6">
         <img src="../photoMedia/Chris.png" alt="EmVlad" title="Chrisphonte E. Vladimir-2019"
         class ="img"></td>
      </tr>
     <tr>
      <th>Limites</th>
      <td >Trop modeste</td>


     </tr>
     <tr>
      <th>Valeurs</th>
      <td>Famille – travail – santé</td>

     </tr>

     <tr>
      <th>Loisirs</th>
      <td>Cinéma – ping-pong – soccer</td>
     </tr>
     <tr>
      <th>Habiletés</th>
      <td>Communication – éducation - engagements</td>
     </tr>
     <tr>
      <th>Compétences</th>
      <td>Économie – comptabilité – informatique - sports</td>
     </tr>
   </thead>
   </table>
   <br/>
   <table style="width:100%">
      <caption>Projets</caption>
      <thead>
        <tr>
         <th>Champs d’intérêt</th>
         <td>Administrateur de base de données – Analyste programmeur
           - Consultant Informatique - Assistances Techniques aux utilisateurs.
           </td>
           <tr>
           <th>Tâches et Services</th>
             <td>Créer, gérer des applications et des bases de données -
               Sauvegarder et de restaurer les données -
               Résoudre les problèmes techniques périphériques.
              </td>
            </tr>

            <tr>
            <th>Conditions de travail</th>
              <td>Temps plein – avantages sociaux
               </td>
             </tr>

             <tr>
             <th>Projection</th>
               <td>Dans 5 ans, je me vois professionnellement acquérir
               suffisamment de connaissances avec quelques certifications
               pour maîtriser la technologie Microsoft et développer mes
               compétences afin d'occuper un poste de travail bien rémunéré
               dans le domaine informatique de gestion.
                </td>
              </tr>
      </thead>
    </table>

<br/>




 </div>

<!-- ===lower body: script-sources ================= -->
<script src="../js/StageFinal.js"></script>

</body>
</html>
