<!DOCTYPE html>
<!--préparé par Étudiant : Chrisphonte E Vladimir
ID: 2015-23-208
Collège Montmorency -->
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About - Vladimir</title>
    <link rel="stylesheet" href="../sheet/sheet.css" />
  </head>

  <!-- ============== HTML BODY Start ================= -->
  <body>
    <div id="about">
      <h4 id="headline">préparé par l'étudiant</h4>
      <div id="header"></div>

      <a href="../index.html">Home</a>

      <hr />
      <h2>L'expérience du stage</h2>

      À l'intelligence industrielle, le travail est basé sur de nouvelles
      techniques de programmation express et sur des logiciels de bureaux ou de
      communication interne très sécuritaire. L'entreprise offre aux
      investisseurs industriels la possibilité d'observer et de vérifier les
      progrès, la performance ou la qualité de leurs matériels, de leurs
      équipements et du personnel affecté à la minute. Elle produit des rapports
      aux clients sur différente période de temps en vue de leur permettre de
      prendre de meilleures décisions pour améliorer leur environnement de
      travail, leur production ou l’objet d’une revue systématique lorsque c'est
      nécessaire. Leur technologie...

      <h2>Nos remerciements</h2>
    </div>

    <!-- ===lower body: script-sources ================= -->
    <script src="../js/StageFinal.js"></script>
  </body>
</html>
